@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
    @include m.boton(v.$azul, v.$blanco);
}
.boton-eliminar {
    @include m.boton(v.$rojo, v.$blanco);
}

#schedule {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

@include m.tablet{
    #schedule {
        grid-template-columns: repeat(4, 1fr); /* Cuatro horarios por fila */
        gap: 10px;
        margin: 20px;
    }
}


.time-slot {
    padding: 10px;
    color: v.$negro;
    font-size: v.$bold;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: v.$regular;
    background-color: v.$azul;
}

.time-slot.taken {
    background-color: v.$ocupado;
    cursor: not-allowed;
}

.time-slot:hover:not(.taken) {
    background-color: #09741b; /* Color al pasar el mouse sobre horarios disponibles */
}

.time-slot.selected {
    background-color: #09741b; /* Color más oscuro para indicar selección */
    color: #fff;
    border: 4px solid #2bd81b;
}