@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    margin-top: 5rem;
    width: 100%;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    label {
        flex: 0 0 10rem;
    }
    input {
        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        border-radius: 1rem;

        &:disabled {
            background-color: lighten(v.$negro, 30%);
            color: v.$blanco;
            cursor: not-allowed;
        }
    }   
}
.aclaracion_horas{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    .aclaracion_1{
        border: 1rem solid v.$ocupado;
    }
    .aclaracion_2{
        border: 1rem solid v.$azul;
    }
    .aclaracion_3{
        border: 1rem solid v.$seleccionado;
    }
}